<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Login</title>
  <link rel="shortcut icon" type="image/jpg" href="{%  static  '/css/favicon.ico'  %}" />
  <link rel="stylesheet" type="text/css" href="{%  static  '/css/styles.css'  %}">
</head>

<body>
  Someone asked for password reset for email {{ email }}. Follow the link below:
  {{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
  Copy to Clipboard

</body>

</html>
