<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>QuickShift Request off</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="shortcut icon" type="image/jpg" href="{%  static  '/css/favicon.ico'  %}" />
  <link rel="stylesheet" type="text/css" href="{%  static  '/css/styles.css'  %}">
</head>

<body>
  <center>
    <br><br>
    <h1>Thanks for requesting off</h1>
    <h2>You should receive an email shortly regarding your request.</h2>
    <br><br><br><br>
    <center>
      <button onclick="location.href='{% url 'form' %}'" class="glow-on-hover" type="button">Submit another!</button>
    </center>
  </center>
</body>

</html>
