<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>QuickShift Request off</title>
  <link rel="shortcut icon" type="image/jpg" href="{%  static  '/css/favicon.ico'  %}" />
  <link rel="stylesheet" type="text/css" href="{%  static  '/css/styles.css'  %}">
</head>

<body>
  <center>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeTfhJJAiUt3fBARJZbtryTkERuL0IcYLLPx3coMwr7JPMg5Q/viewform?embedded=true" width="640" height="1324" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
  </center>
</body>

</html>
