{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>QuickShift</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="shortcut icon" type="image/jpg" href="{%  static  '/css/favicon.ico'  %}" />
  <link rel="stylesheet" type="text/css" href="{%  static  '/css/styles.css'  %}">
</head>

<body>
  <div class="offset">
    {% if user.is_authenticated %}
    <h2 style="padding-right:30px;">Howdy {{request.user.first_name}}!</h2>
    <a href="{% url 'help' %}">
      <button class="gb">Help</button>
    </a>
    <a href="{% url 'logout' %}">
      <button class="gb">Log Out</button>
    </a>
    {% else %}
    <!-- logs in user -->
    <a href="{% url 'login' %}">
      <button class="gb">Log In</button>
    </a>
    <a href="{% url 'help' %}">
      <button class="gb">Help</button>
    </a>
    <a href="{% url 'why' %}">
      <button class="gb">Why?</button>
    </a>
    {% endif %}
  </div>
  <center>
    <img src="{%  static  '/css/logo.png'  %}" alt="QuickShift Logo" style="width:320px;height:200px;">
  </center>
  <center>
    <div class="offset">
      <h2>Restaurant Manager Hub</h2>
      <br>
    </div>
    <div id="container">
      <div id="left">
        <button onclick="location.href='{% url 'kbj-plano' %}'" class="glow-on-hover" type="button" target="_blank">KBJ Plano</button>
      </div>
      <div id="right">
        <button onclick="location.href='{% url 'kbj-frisco' %}'" class="glow-on-hover" type="button">KBJ Frisco</button>
      </div>
    </div>
  </center>
  <br>
  <br>
  <center>
    <div id="container">
      <div id="left">
        <button onclick="location.href='{% url 'pizza' %}'" class="glow-on-hover" type="button">Pizza</button>
      </div>
      <div id="middle">
        <button onclick="location.href='{% url 'wood-fire-grill' %}'" class="glow-on-hover" type="button" target="_blank">Wood Fire</button>
      </div>
      <div id="right">
        <button onclick="location.href='{% url 'italian' %}'" class="glow-on-hover" type="button">Italian</button>
      </div>
    </div>
  </center>
  <br>
  <br>
  <center>
    <hr>
    <br>
    <div class="offset">
      <h2>Current Schedule</h2>
      <br>
    </div>
    <div id="container">
      <div id="left">
        <a href="{% url 'schedule-plano' %}" target="_blank">
          <h3>KBJ Plano</h3>
        </a>
      </div>
      <div id="right">
        <a href="{% url 'schedule-frisco' %}" target="_blank">
          <h3>KBJ Frisco</h3>
        </a>
      </div>
    </div>
    <br>
    <div id="container">
      <div id="left">
        <a href="{% url 'schedule-pizza' %}" target="_blank">
          <h3>Pizza</h3>
        </a>
      </div>
      <div id="middle">
        <a href="{% url 'schedule-WFG' %}" target="_blank">
          <h3>KWFG</h3>
        </a>
      </div>
      <div id="right">
        <a href="{% url 'schedule-italian' %}" target="_blank">
          <h3>Italian</h3>
        </a>
      </div>
    </div>

  </center>
  <br>
  <br>
  <center>
    <hr>
    <br>
    <div class="offset">
      <h2>Request Off</h2>
      <br>
    </div>
    <div id="container">
      <div id="left">
        <a href="{% url 'form' %}" target="_blank">
          <h3>KBJ Plano</h3>
        </a>
      </div>
      <div id="right">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScFCWalWwjL_hDEP0fmcwi8sS7aWQXpnQKcZFWHUzIhOSImOw/viewform" target="_blank">
          <h3>KBJ Frisco</h3>
        </a>
      </div>
    </div>
    <br>
    <div id="container">
      <div id="left">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdGUOGyAf7u0zAQqafEmf4OQTwSHCMepDvxeXdLnbkSZpIvdw/viewform" target="_blank">
          <h3>Pizza</h3>
        </a>
      </div>
      <div id="middle">
        <a href="https://docs.google.com/forms/u/1/d/e/1FAIpQLSd08YR-Flf0GKE2rs8imUIV8ecHQb09wKT5PoEHnGI9pEPk1Q/viewform?usp=send_form" target="_blank">
          <h3>KWFG</h3>
        </a>
      </div>
      <div id="right">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScgju_F4jU02LOrIemaiUDG3X5oFaUhvPMS3ia7LEPNoRb6jQ/viewform" target="_blank">
          <h3>Italian</h3>
        </a>
      </div>
    </div>

  </center>
  <br><br>
</body>

</html>
