{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Why QuickShift?</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="shortcut icon" type="image/jpg" href="{%  static  '/css/favicon.ico'  %}" />
  <link rel="stylesheet" type="text/css" href="{%  static  '/css/styles.css'  %}">
</head>

<body>
  <div class="offset">
    <a href="{% url 'start' %}">
      <button class="gb">Home</button>
    </a>
  </div>
  <center>
    <img src="{%  static  '/css/logo.png'  %}" alt="QuickShift Logo" style="width:320px;height:200px;">
  </center>
  <div class="big">
    <h1>The Problem</h1>
    <p>Time and money are critical! The Key Hourly Manager is paid $18 an hour and spends approximately 3-4 hours a week on the schedule. That adds up to $72 a week or $312 a month, or $3,744 a year. But there are additional redundant inefficiencies. One example is that availability is difficult to manage and keep organized. Likewise, requests off are complicated to keep track of, and people coming in to request off can be tedious and distracting to those working. It's also not easy to remember to request off when working. Finally, scrolling through old emails can be a pain, and sending them can be frustrating to manage.</p>
  </div>
  <center>
  <hr>
  </center>
  <div class="big">
    <h1>What is QuickShift and what does it do?</h1>
    <p>QuickShift is a one-stop shop for everything you need for creating a schedule.</p>
  </div>
  <div class="medium">
    <h2>Manages Availability</h2>
    <p>QuickShift provides a form to manage the staff's availability in a way that is both user-friendly and readable. QuickShift stores the spreadsheet in the cloud, where it automatically saves itself. Here, managers can share this form with a simple link with anyone in the world.</p>
  </div>
  <div class="medium">
    <h2>Manages Needed Staff</h2>
    <p>QuickShift provides a form to manage the needed staff for each shift simply and intuitively. This form is stored in the cloud and saved automatically. Managers can share this sheet with a simple link with anyone in the world.</p>
  </div>
  <div class="medium">
    <h2>Generates the Schedule</h2>
    <p>QuickShift pulls from both the availability form and the needed staff sheet and automagically creates the schedule for the next week within seconds. It also provides an easy download of the schedule in a readable format.</p>
  </div>
  <div class="medium">
    <h2>Requests Off</h2>
    <p>With QuickShift, any employees can request off whenever and wherever they want. This simplicity makes it easier for both staff and managers by creating a smoother request process. QuickShift stores all requests in a spreadsheet where managers can nullify an appeal if they deem it necessary. QuickShift can also read these requests and avoid scheduling employees if requested off. However, if there is not ample staff, QuickShift will override requests.</p>
  </div>
  <div class="medium">
    <h2>The Current Schedule QuickLink</h2>
    <p>Managers can upload the current schedule into QuickShift, where the staff can view it. This feature allows employees can bookmark this link and check it to view the schedule.</p>
  </div>
  <div class="medium">
    <h2>QuickSend</h2>
    <p>Once the managers upload the schedule, QuickShift gives them the option to QuickSend (email) the schedule to all staff in the database with a custom message.</p>
  </div>
  <center>
  <hr>
  </center>
  <div class="big">
    <h1>What are the Benefits?</h1>
    <p>Does all this make a significant difference in anybody’s life?</p>
    <p>Yes!</p>
  </div>
  <div class="medium">
    <h2>Manager Benefits</h2>
    <p>While saving the company close to $4000 per restaurant, it can also give managers more time off. Additionally, it can free up the office so the managers can spend more time doing other work or on the floor, making guests' experience ultimately better. Furthermore, it makes the manager's workflow more efficient by putting all the tools and necessities for the schedule in one place.</p>
  </div>
  <div class="medium">
    <h2>Staff Benefits</h2>
    <p>QuickShift makes it easy for staff to request off from home; there is no stress about coming in sick or forgetting to request off. It also makes it easier for the team to view the schedule and eliminates the fear of accidentally deleting it.</p>
  </div>
  <center>
  <hr>
  </center>
  <div class="big">
    <h1>Pricing</h1>
    <p>Optimizing liquid capital and time while maintaining a return on investment.</p>
  </div>
  <div class="medium">
    <h2>What is it doing for me, again?</h2>
    <p>QuickShift saves about $4,000 a year, which breaks into approximately $300 a month. Moreover, QuickShift saves 17 hours a month of the manager's time which adds up to nearly 900 hours a year.</p>
  </div>
  <div class="medium">
    <h2>Cost Break Down</h2>
    <p>QuickShift saves you about 80% of the original cost by only charging $65 a month, per restaurant, in addition to a $300 signing fee.</p>
  </div>
  <div class="medium">
    <h2>What does that include?</h2>
    <p>While the initial fee covers software development and serves as a signing fee, the monthly fee breaks down into much more. The monthly fee covers maintenance and staff availability management, error handling, feature development, the mobilization of the platform for optimal performance, hosting, databasing / server space, the product itself, and support.</p>
  </div>
  <center>
  <hr>
  </center>
  <div class="disclaimer">
    <p><i>*The QuickShift Website was developed exclusively by Nick Morris. Nick Morris owns all intellectual property and possesses the intellectual rights in perpetuity throughout the universe. Any attempt to infringe upon these rights shall be met with legal action.</i></p>
  </div>
  <br>
  </body>

</html>
