{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>QuickShift</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="shortcut icon" type="image/jpg" href="{%  static  '/css/favicon.ico'  %}" />
  <link rel="stylesheet" type="text/css" href="{%  static  '/css/styles.css'  %}">
</head>

<body>
  {% if user.is_authenticated %}
  <a href="{% url 'logout' %}">
    <button class="gb">Log Out</button>
  </a>
  <a href="{% url 'upload-WFG' %}" target=_blank>
    <button class="gb">Upload</button>
  </a>
  <a href="{% url 'schedule-WFG' %}" target=_blank>
    <button class="gb">Schedule</button>
  </a>
  {% else %}
  <!-- logs in user -->
  <a href="{% url 'login'%}">
    <div class="box-3" class="cont">
      <div class="btn btn-three" class="topright">
        <span>Log In</span>
      </div>
    </div>
  </a>
  {% endif %}
  <center>
    <h1>QuickShift</h1>
  </center>
  <!-- logs out user -->

  <br>
  <br>
  <center>
    <div id="container">
      <div id="left">
        <a href="https://docs.google.com/spreadsheets/d/1bkPvzmQGl1K8QXUiVz9TscXhdJ-qQieXMtZTKcQqwPE/edit?usp=sharing" target="_blank">
          <h3>Availability</h3>
        </a>
      </div>
      <div id="middle">
        <a href="https://docs.google.com/spreadsheets/d/1Uv-60Oa7xXaxaBzvx42p-7kZxvQzoPVIi1QUMp2gvTg/edit?usp=sharing" target="_blank">
          <h3>Requests Off</h3>
        </a>
      </div>
      <div id="right">
        <a href="https://docs.google.com/spreadsheets/d/120yLw9M1MhT_ivrCIcDQ0NcdMsCsBCR1wo_r1V285FU/edit?usp=sharing" target="_blank">
          <h3>Needed Staff</h3>
        </a>
      </div>
    </div>
  </center>
  <br>
  <br>
  <center>
    <div id="container">
      <div id="left">
        <a href='https://forms.gle/wNdDz9gpyLhymH1YA' target ="_blank">
          <button class="glow-on-hover" type="button">Request Off Form</button>
        </a>
      </div>
      <div id="middle">
        <button onclick="location.href='{% url 'wood-fire-grill_script' %}'" class="glow-on-hover" type="button">Generate Schedule</button>
      </div>
      <div id="right">
        <button onclick="exportData()" class="glow-on-hover">Download Schedule</button>
      </div>
    </div>
  </center>
  <br>
  <br>
  <br>
  {% if 'data.item()' %}

  <br>
  <br>
  <center>
  <div style="overflow-x:auto;">
    {{data | safe}}
  </div>
  </center>
  {% endif %}
  <!-- <button onclick=type="button" name="button"></button> -->
  <script>
    function exportData(name_data) {
      /* Get the HTML data using Element by Id */
      var table = document.getElementById("tblStocks");

      /* Declaring array variable */
      var rows = [];

      //iterate through rows of table
      for (var i = 0, row; row = table.rows[i]; i++) {
        //rows would be accessed using the "row" variable assigned in the for loop
        //Get each cell value/column from the row
        column1 = row.cells[0].innerText;
        column2 = row.cells[1].innerText;
        column3 = row.cells[2].innerText;
        column4 = row.cells[3].innerText;
        column5 = row.cells[4].innerText;
        column6 = row.cells[5].innerText;
        column7 = row.cells[6].innerText;
        column8 = row.cells[7].innerText;
        column9 = row.cells[8].innerText;
        column10 = row.cells[9].innerText;
        column11 = row.cells[10].innerText;
        column12 = row.cells[11].innerText;
        column13 = row.cells[12].innerText;
        column14 = row.cells[13].innerText;
        column15 = row.cells[14].innerText;
        column16 = row.cells[15].innerText;

        /* add a new records in the array */
        rows.push(
          [
            column1,
            column2,
            column3,
            column4,
            column5,
            column6,
            column7,
            column8,
            column9,
            column10,
            column11,
            column12,
            column13,
            column14,
            column15,
            column16
          ]
        );

      }
      csvContent = "data:text/csv;charset=utf-8,";
      /* add the column delimiter as comma(,) and each row splitted by new line character (\n) */
      rows.forEach(function(rowArray) {
        row = rowArray.join(",");
        csvContent += row + "\r\n";
      });

      /* create a hidden <a> DOM node and set its download attribute */
      var encodedUri = encodeURI(csvContent);
      var link = document.createElement("a");
      link.setAttribute("href", encodedUri);
      link.setAttribute("download", "KBJ-Schedule.csv");
      document.body.appendChild(link);
      /* download the data file named "KBJ-Schedule.csv" */
      link.click();
    }
  </script>
</body>

</html>
