/* From cssbuttons.io by @nikk7007 */
.gb {
 padding: 0.8em 1.8em;
 border: 2px solid #00bbf9;
 position: relative;
 overflow: hidden;
 background-color: transparent;
 text-align: center;
 text-transform: uppercase;
 font-size: 16px;
 transition: .3s;
 z-index: 1;
 font-family: inherit;
 color: #00bbf9;
}

.gb::before {
 content: '';
 width: 0;
 height: 300%;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%) rotate(45deg);
 background: #00bbf9;
 transition: .5s ease;
 display: block;
 z-index: -1;
}

.gb:hover::before {
 width: 105%;
}

.gb:hover {
 color: #111;
}
body {
justify-content: center;
align-items: center;
min-height: 100vh;
background-color: #141E30;
background: linear-gradient(to right, #24243e, #141E30, #0f0c29); }
h1{
  color: #00bbf9;
}
input[type=file] {
  color: white;
}
h4 {
  font-family: 'Poppins', sans-serif;
  color: white;
}

.title1{
    font-family: 'sans-serif';
}
h2 {
color: #FFFFFF;}
label {
  color:white;
}
h3{
  font-family: 'Poppins', sans-serif;
  color: white;
  text-align: center;
  border-radius: 25px;
  background: rgb(0,245,212);
  background: linear-gradient(90deg, rgba(0,245,212,1) 0%, rgba(0,187,249,1) 50%);
  padding: 20px;
  width: 170px;
  height: 40;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  font-size: 12px;
}
#container {height: 100%; width:100%; font-size: 0;}
#left, #middle, #right {display: inline-block; *display: inline; zoom: 1; vertical-align: top; font-size: 12px;}
#left {width: 25%; }
#middle {width: 25%; }
#right {width: 25%; }

.spacer{
  height: 100px;
}
table {
  border-collapse: collapse;
  border: 1px solid white;
  color: white;
}
  tr:empty { display: none; }
th, td {
  padding: 10px;
  text-align: center;
}
tr:hover {background-color: #00bbf9;}
.button {
  background-color: #00bbf9;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}
.button3 {border-radius: 8px;}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #ffffff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #00f5d4, #f72585, #00bbf9, #480ca8, #ffffff);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}
.topright {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}
.cont {
  position: relative;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');

@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');
.container {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  width: 180px;
  height: 60px;
  position: absolute;
}
hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #ccc;
    margin: 1em 0; padding: 0; width: 75%; }
